<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Listing for Product</h1>

    <f:flashMessages />

    <table  class="tx_management" >
        <tr>
            <th><f:translate key="tx_management_domain_model_product.invoice" /></th>
            <th><f:translate key="tx_management_domain_model_product.customer" /></th>
            <th><f:translate key="tx_management_domain_model_product.category" /></th>
            <th><f:translate key="tx_management_domain_model_product.brand" /></th>
            <th><f:translate key="tx_management_domain_model_product.serial" /></th>
            <th><f:translate key="tx_management_domain_model_product.amcexpire" /></th>
            <th> </th>
            <th> </th>
            <th> </th>
        </tr>

        <f:for each="{products}" as="product">
            <tr>
                <td><a href="{product.invoice.originalResource.publicUrl}">{product.invoice.originalResource.name}</a></td>
                <td><f:format.html>{product.customer}</f:format.html></td>
                <td>{product.category}</td>
                <td>{product.brand}</td>
                <td>{product.serial}</td>
                <td>{product.amcexpire -> f:format.date()}</td>
                <td><f:link.action action="show" arguments="{product : product.uid}">Detail</f:link.action></td>
                <td><f:link.action action="edit" arguments="{product : product.uid}">Edit</f:link.action></td>
                <td><f:link.action action="delete" arguments="{product : product.uid}" onclick="return confirm('Are you sure to DELETE?')" >Delete</f:link.action></td>
            </tr>
        </f:for>
    </table>

    <f:link.action action="new">New Product</f:link.action>
</f:section>
</html>
