.sortStyle { cursor: pointer; }

.ascStyle {
  background-image: url(../Images/asc.gif);
  background-repeat: no-repeat;
  background-position: center right;
}

.descStyle {
  background-image: url(../Images/desc.gif);
  background-repeat: no-repeat;
  background-position: center right;
}

.unsortStyle {
  background-image: url(../Images/bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
}